@tailwind base;
@tailwind components;
@tailwind utilities;

.pixelify {
    font-family: var(--font-pixelify);
}

.roboto {
    font-family: var(--font-roboto);
}

.jbmono {
    font-family: var(--font-jbmono);
}